<h2> Olá {{ nome }}</h2>
<p>
  Parece que você solicitou uma recuperação da sua senha, caso queira prosseguir clique no link abaixo:
</p>
<p>
<a href="{{resetPasswordUrl}}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor descartar o e-mail
</p>
<p>
  <strong>Equipe PegasusTi</strong>
</p>
